---
import { css } from "pandacss-www/css";

const style = css({
  textStyle: "notoH2",
  marginY: {
    base: "1.5em 0.75em",
  },
  marginBottom: {
    _last: "0",
  },
});
---

<h2 {...Astro.props} class={style}>
  <slot />
</h2>
