# Build
dist/

# cloudflare
server/
functions/\[\[path\]\].js

# generated types
.astro/

# Development
node_modules/
*.local

# terraform
**/.terraform/*

*.tfvars
*.tfvars.json

*.tfstate
*.tfstate.*

crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Cache
tmp/
.cache
.mf
.rollup.cache
tsconfig.tsbuildinfo
.ts-cache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# macOS-specific files
.DS_Store

# turborepo logs
.turbo

# idea
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf/