:where(*) {
  --bg-base: #fff;
  --text-base: #000000d1;
  --border-base: #5c93bb2b;

  --bg-primary: #edf2f7;

  color: var(--text-base);
  stroke: var(--text-base);
  background-color: var(--bg-base);
  fill: var(--bg-base);
}
