---
import BaseLayout from "~/component/layout/BaseLayout.astro";
---

<BaseLayout title="404 Not Found">
  <main>
    <div>404 Error</div>
    <div>ページを発見することができません</div>
    <div><a href="/">ホームに戻る</a></div>
  </main>
</BaseLayout>
