---
import BaseLayout from "~/component/layout/BaseLayout.astro";
---

<BaseLayout title="Error">
  <main>
    <div>Error</div>
    <div>何らかのエラーが発生しました</div>
    <div><a href="/">ホームに戻る</a></div>
  </main>
</BaseLayout>
