---
import { css } from "pandacss-www/css";

import BaseLayout from "~/component/layout/BaseLayout.astro";
import TextLink from "~/component/ui/link/TextLink.astro";
---

<BaseLayout title="ホーム">
  <main
    class={css({
      height: "100svh",
      display: "grid",
      gridAutoRows: "auto",
      placeItems: "center",
    })}
  >
    <ul>
      <li>
        <TextLink href="/blog">blog</TextLink>
      </li>
    </ul>
  </main>
</BaseLayout>
