---
import {Counter, IncrementButton} from '../components/Counter'
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="404">
  <meta charset="utf-8" slot="metas"/>
  <main>
    <div>404 Error</div>
    <div>ページを発見することができません</div>
  </main>
</BaseLayout>