---

---
<html lang="ja">
<head>
  <title>Hello, World!</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<main>
  <h1>Hello, World!</h1>
</main>
</html>

<style>
  body {
    color: red;
  }
</style>
<style lang="scss">
  body * {
    font-family: 'Shippori Mincho', serif;
  }
</style>