---
// import BaseLayout from "@/layouts/BaseLayout.astro";
import { css } from "~/styled-system/css";
import { styled } from "~/styled-system/jsx";
// import "~/styled-system/global.css";
// import "~/styled-system/reset.css";
---

<html>
    <head></head>
    <body>
        <styled.main height={"3rem"} backgroundColor={"black"}>
            <styled.span color={"red"}>pandas css</styled.span>
        </styled.main>
        <div class={css({ color: "blue" })}>a</div>
    </body>
    <style is:global>
        @layer reset, base, tokens, recipes, utilities;
    </style>
</html>
<!-- <BaseLayout title="home">
    <div class={css({ backgroundColor: "black" })}>
        <a href="/blogs/">blogs</a>
    </div>
</BaseLayout> -->
