---
import { intlFormat } from "date-fns";
import type { Blog } from "microcms/query/blogs";
import { css } from "pandacss/css";

import BaseLayout from "../../layout/BaseLayout.astro";

export type Props = {
  blogs: Pick<Blog, "id" | "publishedAt" | "title" | "eyecatch">[];
};
const blogs = Astro.props.blogs;
---

<BaseLayout title="blogs">
  <div
    class={css({
      maxWidth: "80rem",
      paddingX: 0,
      display: "flex",
      flexDirection: "column",
      justifyContent: "center",
      alignItems: "center",
    })}
  >
    {
      blogs.map((v) => (
        <a
          href={`/blogs/${v.id}`}
          class={css({
            width: "100%",
            display: "grid",
            gridTemplateColumns: "auto auto",
            gridTemplateRows: "auto auto",
            gridTemplateAreas: '"image image" "title publishAt"',
            placeItems: "center",
          })}
        >
          <img
            src={v.eyecatch.url}
            alt=""
            class={css({
              maxWidth: "40rem",
              maxHeight: "30rem",
              objectFit: "contain",
              width: v.eyecatch.width,
              height: v.eyecatch.height,
              gridArea: "image",
            })}
          />
          <div class={css({ gridArea: "title" })}>{v.title}</div>
          <div class={css({ gridArea: "publishAt" })}>
            {intlFormat(
              new Date(v.publishedAt ?? ""),
              {
                timeZone: "Asia/Tokyo",
                year: "numeric",
                month: "numeric",
                day: "numeric",
                hour: "numeric",
                minute: "numeric",
              },
              { locale: "ja" },
            )}
          </div>
        </a>
      ))
    }
  </div>
</BaseLayout>
