---
import type { Blog } from "@/query/blogs";

export const blogContentIds = [
    "id",
    "title",
    "publishedAt",
    "content",
    "htmlContent",
    "contents",
] as const;
export type BlogContentIds = typeof blogContentIds;
export type BlogProps = {
    blog: Pick<Blog, BlogContentIds[number]>;
};

export type Props = BlogProps;
const { blog } = Astro.props;
---

<main>
    <h1>{blog.title}</h1>
    <p>公開日時：{blog.publishedAt}</p>
    <div set:html={blog.content} />
    <div set:html={blog.htmlContent.content} />
    <div set:html={blog.contents.contents.map((v) => v.content).join("")} />
</main>
