---
import { sva } from "pandacss-www/css";
export type Props = {
  href: string;
};

const stylesGenerater = sva({
  slots: ["text"],
  base: {
    text: {
      textStyle: "notoA",
      color: "blue.600",
    },
  },
});
const styles = stylesGenerater();
const props = Astro.props;
---

<a href={props.href} class={styles.text}>
  <slot />
</a>
