---
import { Image } from "astro:assets";
import { css } from "pandacss-www/css";

import { type ImageWithContainerProps } from "./type";

export type Props = ImageWithContainerProps & { srcset: string[] };

const {
  aspectRatio,
  objectFit,
  containerHeight,
  containerWidth,
  cssProps,
  ...props
} = Astro.props as Props;

const ImageWrapper = typeof props.src !== "string" ? "img" : Image;
---

<div
  class={css({
    width: containerWidth,
    height: containerHeight,
    aspectRatio: aspectRatio,
    ...(cssProps ?? {}),
  })}
>
  <!-- @ts-ignore -->
  <ImageWrapper
    {...props}
    class={css({
      width: "100%",
      height: "100%",
      objectFit: objectFit,
    })}
  />
</div>
