---
import { css } from "~/style/pandacss/css";

import Favicon from "./meta/Favicon.astro";
import CloudflareWebAnalytics from "./script/CloudflareWebAnalytics.astro";

export type Props = {
  prefix?: string;
  title: string;
};

const { title, prefix } = Astro.props;
---

<!doctype html>
<html
  lang="ja"
  class={css({
    fontSize: {
      base: "12px",
      md: "16px",
    },
    transition: "font-size 0.5s",
  })}
>
  <head>
    <title>{prefix ?? "totto2727 "}{title}</title>
    <meta charset="utf-8" slot="metas" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <Favicon />
    <slot name="meta" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=optional"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=optional"
    />

    <style is:global>
      @layer reset, base, tokens, recipes, utilities;
    </style>
  </head>
  <body
    class={css({
      textStyle: "notoP",
      backgroundColor: "light.bg",
      color: "light.text",
      // backgroundColor: "dark.bg",
      // color: "dark.text",
    })}
  >
    <slot />
    <CloudflareWebAnalytics />
  </body>
</html>
